//-
  ВНИМАНИЕ! Этот файл генерируется автоматически.
  Любые изменения этого файла будут потеряны при следующей компиляции.
  Любое изменение проекта без возможности компиляции ДОЛЬШЕ И ДОРОЖЕ в 2-5 раз.

include ../mixins/button.pug
include ../mixins/form.pug
include ../mixins/gallery.pug
include ../mixins/img.pug
include ../mixins/img_background.pug
include ../mixins/links.pug
include ../mixins/map.pug
include ../mixins/page_footer.pug
include ../mixins/page_header.pug
include ../mixins/section.pug
include ../mixins/select.pug
include ../mixins/slider.pug
include ../mixins/svg.pug
include ../mixins/tabs.pug
include ../mixins/textBlock.pug
