include ../common/mixins.pug

block variables

doctype html
html(lang='en')

	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible' content='ie=edge')

		block meta
			title Home

		block head
			link(rel='stylesheet' href='./css/style.min.css')

	body
		.wrapper
			header.header(id=data.sectionHeader.id)
				block header

			main
				block content

			block footer

		script(src='./js/main.js')
