.section {
  @include flex_center;
  position: relative;
  min-height: 100vh;
  padding: 100px 0;
  transition: opacity 0.001s;

  &~.flatpickr-calendar.open {
    opacity: 0;
  }
}

.section__wrap,
.section__inner {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  width: 100%;
}

.section__img {
  height: 0;
  padding-bottom: 76%;
  width: 76%;
  margin-right: auto;
  margin-left: 20px;

  picture,
  img {
    overflow: hidden;
    border-radius: $br_05;
    box-shadow: $shadow_img;
  }
}

.section__head {
  @include font($fs_12, $lh_14);
  display: block;
  margin-top: -50px;
  margin-bottom: 50px;
  font-weight: 700;
  letter-spacing: 0.5em;
  text-align: center;
  text-transform: uppercase;
}

.section__footer {
  @include font($fs_12, $lh_12);
  margin: 50px 0 -50px;
  color: $input;
  text-align: center;
  z-index: -1;

  span {
    font-weight: 700;
  }
}

.section__tab {
  width: 100%;
  overflow: hidden;
}

.section__photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.section__photo_link {
  position: relative;
  color: currentColor;
  overflow: hidden;
}

.section__photo_subtitle {
  @include font($fs_24, $lh_12);
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 30px 18px;
  transform: rotate(90deg) translateX(100%);
  transform-origin: top right;
  font-family: "Banny", "Arial", sans-serif;
  line-height: 100%;
  background-color: $black;
  border-radius: $br_05 $br_05 0 0;
  text-transform: uppercase;
  z-index: 5;
}

.section__photo_link:nth-child(odd) {
  .section__img {
    margin-right: 20px;
    margin-left: auto;
  }
}

.section__photo_link:nth-child(even) {
  .section__photo_subtitle {
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-100%);
  }

  .section__img::after {
    left: auto;
    right: 0;
    transform: translate(50%, -50%);
    box-shadow: 0 0 100px rgba(0, 0, 0, .5);
  }
}

.section__footer {
  color: currentColor;
}

.section__map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.section--reverse {

  .section__wrap {
    display: flex;
    flex-direction: column;
  }

  .section__img {
    order: -1;
    margin-left: auto;
    margin-right: 20px;
  }
}

.section--team {
  @include background('our_team_bg', 'jpg', $dark);
  color: $white;

  .section__wrap {
    position: relative;
    z-index: 5;
  }
}

.section--booking {
  .section__wrap {
    display: flex;
    flex-direction: column;
  }
}

.section--specialties {
  @include background('specialties_bg', 'jpg', $dark);
  color: $white;

  .section__head {
    text-align: center;
  }

  .section__wrap {
    grid-template-columns: 1fr;
  }
}

.section--menu {
  .section__wrap {
    display: flex;
    flex-direction: column;
  }
}

.section--events {
  @include background('private_evt_bg', 'jpg', $dark);
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  color: $white;

  .section__wrap {
    grid-template-columns: 1fr;
    min-height: 80vh;
  }

  .section__footer {
    margin-bottom: 50px;
    z-index: 0;
  }

  .section__gallery {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}

.section--contacts {
  .section__wrap {
    display: flex;
    flex-direction: column;
  }

  .section__box {
    margin-bottom: 24px;
  }
}

.section--map {
  background-color: rgba($dark, 0.7);
  background-image: $background_gradient;
  background-repeat: repeat;
  background-size: 2px 2px;
  background-position: 0 0;
  position: relative;
  overflow: hidden;
  padding: 0;
}

@media (max-width: $tablet_max) {

  .section__wrap,
  .section__inner {
    grid-template-columns: 1fr;
  }

  .section__img {
    padding-bottom: 50%;
    width: 50%;
    margin: 50px auto;
  }

  .section--reverse .section__img {
    margin: 50px auto;
    order: 1;
  }

  .section__photo_subtitle {
    @include font($fs_16, $lh_12);
  }

  .section__photo_link {
    .section__img {
      width: 70%;
      padding-bottom: 70%;
    }
  }

  .section__photo_link:nth-child(even) {
    .section__img {
      margin-right: auto;
      margin-left: 20px;
    }
  }
}

@media (max-width: $mobile_max) {
  .section {
    padding: 50px 0;
    min-height: auto;
  }

  .section__head {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .section__img {
    padding-bottom: 100%;
    width: 100%;
    margin: 20px auto;

    img,
    picture {
      box-shadow: none;
    }
  }

  .section__footer {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .section--reverse .section__img {
    margin: 20px auto;
  }

  .section--booking .section__img {
    display: none;
  }

  .section--events,
  .section--menu .section__wrap {
    display: grid;
  }

  .section__photos {
    grid-template-columns: 1fr;

  }

  .section__photo_link:nth-child(odd) .section__img,
  .section__photo_link:nth-child(even) .section__img {
    width: 80%;
    margin: 20px auto;
  }

  .section__photo_subtitle {
    width: 87.5%;
    transform: rotate(90deg) translate(100%, -100%);
  }

  .section--events .section__footer {
    margin: 20px 0;
  }

  .section--map {
    min-height: 400px;
  }
}

@media (min-width: $no_mobile) {
  .section--animated {
    animation: fade_background $duration_2 both;

    .section__img {
      animation: flip_left $duration_07 $duration_03 both;
    }

    .section__img::after {
      animation: border $duration_07 $duration_07+0.1s linear both;
    }

    .section__head,
    .section__footer {
      animation: fade $duration_07 $duration_07+$duration_03 both;
    }

    .section__tab_links {
      animation: fade_top_form $duration_07 0.5s both;
    }

    .section__tab_contents {
      animation: fade_top_form $duration_07 $duration_07 both;
    }

    .section__form {
      animation: fade_top_form $duration_07 $duration_07 both;
    }

    .section__map {
      animation: fade $duration_07 both;
    }

    &~.flatpickr-calendar.open {
      opacity: 1;
      animation: fade_top_form $duration_07 $duration_07 both;
    }

    .section__photo_link {
      &:nth-child(odd) {
        .section__photo_subtitle {
          animation: photos_title_odd $duration_07 $duration_07+0.5s both;
        }
      }

      &:nth-child(even) {
        .section__photo_subtitle {
          animation: photos_title_even $duration_07 $duration_07+0.5s both;
        }
      }
    }

    @for $i from 0 through 4 {
      @if ($i % 2==0) {
        .section__gallery a:nth-child(#{$i}) {
          animation: flip_left 1s (0.7 + $i * 0.1)+s both;
        }
      }

      @else {
        .section__gallery a:nth-child(#{$i}) {
          animation: flip_right 1s (0.7 + $i * 0.1)+s both;
        }
      }
    }
  }

  .section--animated.section--reverse .section__img {
    animation: flip_right $duration_07 $duration_03 both;
  }

  .section--events {
    .section__photo_link--animated {
      &:nth-child(odd) {
        .section__photo_subtitle {
          animation: photos_title_odd $duration_07 forwards;
        }
      }

      &:nth-child(even) {
        .section__photo_subtitle {
          animation: photos_title_even $duration_07 forwards;
        }
      }

      .section__img::after {
        animation: border $duration_07;
      }
    }
  }

  .section__photo_link:hover,
  .section__photo_link:focus {
    &:nth-child(n) {
      .section__img::after {
        animation: border_hover $duration_07 forwards linear;
      }
    }

    &:nth-child(odd) {
      .section__photo_subtitle {
        animation: photos_title_odd_hover $duration_07 forwards linear;
      }
    }

    &:nth-child(even) {
      .section__photo_subtitle {
        animation: photos_title_even_hover $duration_07 forwards linear;
      }
    }
  }

  .section__photo_link:active {
    opacity: $opacity;
  }
}
