//- mixin img_background(data)
//- 	div(class='background_image' class!=attributes.class)
//- 		- for (var i = 1; i <= data; i++)
//- 			span(class=`background_image__item background_image__item--${i}`)
